<form *ngIf="user">
  <fieldset>
  <div class="form-group">
    <label for="numero">Numéro</label>
  <input class="form-control" id="numero" type="text" [value]="user.numero" readonly /> Nom:
</div>
<div class="form-group">
    <label for="nom">Nom</label>
    <input class="form-control" id="nom" type="text" name="nom" [(ngModel)]="user.nom" />
</div>

  <button mat-raised-button color="primary" (click)="enregistrer()">Envoyer</button>
  <button mat-raised-button color="primary" (click)="retour()">Retour</button>
</fieldset>
</form>

